{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "packages/contracts/src",
            "packages/core/src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "minMsi": 50,
    "minCoveredMsi": 60,
    "threads": 4
}
