includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests
        - config
        - src/InteractsWithObeserva.php
    reportUnmatchedIgnoredErrors: true
