includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests
        - config
        - src/InteractsWithObeserva.php
        - src/Events/Concerns/InteractsWithTraceContext.php
        - src/Events/TracePropagatingEventDispatcher.php
    reportUnmatchedIgnoredErrors: true
