<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Contracts">
            <directory>tests/Contracts</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>tests/Core</directory>
        </testsuite>
        <testsuite name="Laravel">
            <directory>tests/Laravel</directory>
        </testsuite>
        <testsuite name="Testing">
            <directory>tests/Testing</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/Contracts</directory>
            <directory suffix=".php">src/Core</directory>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
